<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="forntEnd-Developer" content="Mamunur Rashid">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dooplo - Gaming HTML Template</title>
	<!-- favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<!-- Plugin css -->
	<link rel="stylesheet" href="assets/css/plugin.css">

	<!-- stylesheet -->
	<link rel="stylesheet" href="assets/css/style.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
	<!-- preloader area start -->
	<div class="preloader" id="preloader">
		<div class="loader loader-1">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>
		</div>
	</div>
	<!-- preloader area end -->

	<!-- Header Area Start  -->
	<header class="header">
		<!-- Top Header Area Start -->
		<section class="top-header">
			<div class="container">
					<div class="col-lg-12">
						<div class="content" style = "display: flex; justify-content: flex-end">
								<ul>
									<li">
										<a href="#" class="sign-in" data-toggle="modal" data-target="#login">
											<i class="fas fa-user"></i> Log in
										</a>
										or
										<a href="#" class="sign-in" data-toggle="modal" data-target="#signin">
											Sign in
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
			</div>
		</section>
		<!-- Top Header Area End -->
		<!--Main-Menu Area Start-->
		<div class="mainmenu-area">
			<div class="container">
				<div class="row">

					<div class="col-lg-12">
						
						<nav class="navbar navbar-expand-lg navbar-light" id="main_menu">
							
							<a  class="navbar-brand" href="index.html">
								<h3  style="font-weight: bold; color:white">SORT<span style="color:#EC2124; font-weight: bold;">RACE</span></h3>
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							  <span class="navbar-toggler-icon"></span>
							</button>

							<!--
							<div class="collapse navbar-collapse fixed-height" id="main_menu">
								<ul class="navbar-nav ml-auto">
									<div class="mr-hover-effect"></div>
									<li class="nav-item">
										<a class="nav-link active" href="play.html">Play
												<div class="mr-hover-effect"></div></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="lottery.html">lottery
												<div class="mr-hover-effect"></div></a>
									</li>
								</ul>
							</div>
							-->
							<div class="collapse navbar-collapse fixed-height" id="main_menu">
							<ul class="navbar-nav ml-auto">
								<div class="mr-hover-effect"></div>
								<li class="nav-item dropdown">
								  <a class="nav-link text-white" href="index.html">Home
									<div class="mr-hover-effect"></div>
								  </a>
								</li>
								
								<li class="nav-item drop">
								  <a class="nav-link active text-white" href="play.html">Play
									<div class="mr-hover-effect"></div>
								  </a>
								  
								</li>
								
							  </ul>
							</div>
						  </nav>

						<!-- <nav class="navbar navbar-expand-lg navbar-light">

							<a class="navbar-brand" href="index.html">
								<h3  style="font-weight: bold; color:black">SORT<span style="color:#EC2124">RACE</span></h3>
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>

							

							<div class="collapse navbar-collapse" id="main_menu">

								<ul class="navbar-nav">
									<li class="nav-item dropdown">
										<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Home
										<div class="mr-hover-effect"></div>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="play.html">Play
												<div class="mr-hover-effect"></div></a>
									</li>
								</ul>	


							</div>

						</nav> -->

					</div>
					
				</div>
			</div>
		</div>
		<!--Main-Menu Area Start-->
	</header>
	<!-- Header Area End  -->

	<!-- Play Games Area Start -->
	<section class="play-games">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					</div>
				</div>
			</div>
			<div class="all-games">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<ul class="nav" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-tab1-tab" data-toggle="pill" href="#pills-tab1" role="tab" aria-controls="pills-tab1" aria-selected="true">
									<div class="icon">
										<img class="one" src="assets/images/play/ic6.png" alt="">
										<img class="two" src="assets/images/play/ic66.png" alt="">
									</div>
									<span>Top Games</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-tab2-tab" data-toggle="pill" href="#pills-tab2" role="tab" aria-controls="pills-tab2" aria-selected="false">
								<div class="icon">
									<img class="one" src="assets/images/play/ic1.png" alt="">
									<img class="two" src="assets/images/play/ic11.png" alt="">
								</div>
								<span>New</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-tab3-tab" data-toggle="pill" href="#pills-tab3" role="tab" aria-controls="pills-tab3" aria-selected="false">
								<div class="icon">
									<img class="one" src="assets/images/play/ic2.png" alt="">
									<img class="two" src="assets/images/play/ic22.png" alt="">
								</div>
								<span>Slots</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-tab4-tab" data-toggle="pill" href="#pills-tab4" role="tab" aria-controls="pills-tab4" aria-selected="false">
								<div class="icon">
									<img class="one" src="assets/images/play/ic3.png" alt="">
									<img class="two" src="assets/images/play/ic33.png" alt="">
								</div>
								<span>Jackpots</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-tab5-tab" data-toggle="pill" href="#pills-tab5" role="tab" aria-controls="pills-tab5" aria-selected="false">
								<div class="icon">
									<img class="one" src="assets/images/play/ic4.png" alt="">
									<img class="two" src="assets/images/play/ic44.png" alt="">
								</div>
								<span>Video</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-tab6-tab" data-toggle="pill" href="#pills-tab6" role="tab" aria-controls="pills-tab6" aria-selected="false">
								<div class="icon">
									<img class="one" src="assets/images/play/ic5.png" alt="">
									<img class="two" src="assets/images/play/ic55.png" alt="">
								</div>
								<span>Others</span>
								</a>
							</li>
							</ul>
							<div class="tab-content" id="pills-tabContent">
							
						
						
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<!-- Play Games Area End -->

	<!-- Footer Area Start -->
	<footer class="footer" id="footer">
				
		<div class="copy-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="left-area">
							<p>Copyright © 2019.All Rights Reserved By <a href="#">Dooplo</a>
							</p>
						</div>
					</div>
					<div class="col-lg-7">
						<ul class="copright-area-links">
							<li>
								<a href="#">Terms Of Use</a>
							</li>
							<li>
								<a href="#">Privacy Policy</a>
							</li>
							<li>
								<a href="#">Gamble</a>
							</li>
							<li>
								<a href="#">Aware</a>
							</li>
							<li>
								<a href="#">Help Cente</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer> 
	<!-- Footer Area End -->

	<!-- Back to Top Start -->
	<div class="bottomtotop">
		<i class="fas fa-chevron-right"></i>
	</div>
	<!-- Back to Top End -->

	<!-- Login Area Start -->
	<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="assets/images/logo.png" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">Great to have you back!</h4>
						<p class="sub-title">Enter your details below.</p>
					</div>
					<div class="form-area">
						<form action="#" method="POST">
							<div class="form-group">
									<label for="login-input-email">Email*</label>
									<input type="email" class="input-field" id="login-input-email" placeholder="Enter your Email">
							</div>
							<div class="form-group">
									<label for="login-input-password">Password*</label>
									<input type="password" class="input-field" id="login-input-password" placeholder="Password">
							</div>
							<div class="form-group">
								<div class="box">
									<div class="left">
											<input type="checkbox" class="check-box-field" id="input-save-password" checked="">
										<label for="input-save-password">Remember Password</label>
									</div>
									<div class="right">
										<a href="#">
											Forgot Password?
										</a>
									</div>
								</div>
							</div>
							<div class="form-group">
								   <button type="submit" class="mybtn1">Log In</button>
							</div>
						</form>
					</div>
					<div class="form-footer">
						<p>Not a member? 
								<a href="#">Create account <i class="fas fa-angle-double-right"></i></a>
						</p>
					</div>
				</div>
			</div>
			</div>
		</div>
		<!-- Login Area End -->
	
		<!-- SignIn Area Start -->
		<div class="modal fade login-modal sign-in" id="signin" tabindex="-1" role="dialog" aria-labelledby="signin" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered " role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="modal-body">
						<div class="logo-area">
								<img class="logo" src="assets/images/logo.png" alt="">
						</div>
						<div class="header-area">
							<h4 class="title">Great to have you back!</h4>
							<p class="sub-title">Enter your details below.</p>
						</div>
						<div class="form-area">
							<form action="#" method="POST">
								<div class="form-group">
										<label for="input-name">Name*</label>
										<input type="text" class="input-field" id="input-name" placeholder="Enter your Name">
								</div>
								<div class="form-group">
										<label for="input-email">Email*</label>
										<input type="email" class="input-field" id="input-email" placeholder="Enter your Email">
								</div>
								<div class="form-group">
										<label for="input-password">Password*</label>
										<input type="password" class="input-field" id="input-password" placeholder="Enter your password">
								</div>
								<div class="form-group">
										<label for="input-con-password">confirm password**</label>
										<input type="password" class="input-field" id="input-con-password" placeholder="Enter your Confirm Password">
								</div>
								<div class="form-group">
										<select>
											<option value="0">BTC</option>
											<option value="1">USD</option>
											<option value="2">EUR</option>
										</select>
								</div>
								<div class="form-group">
									<div class="check-group">
											<input type="checkbox" class="check-box-field" id="input-terms" checked="">
											<label for="input-terms">
													I agree with <a href="#">terms and Conditions</a> and  <a href="#">privacy policy</a>
											</label>
									</div>
								</div>
								<div class="form-group">
									<button type="submit" class="mybtn1">Take Bonus</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				</div>
			</div>
		<!-- SignIn Area End -->

	<!-- jquery -->
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery.js"></script>
	<!-- popper -->
	<script src="assets/js/popper.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/js/bootstrap.min.js"></script>
	<!-- plugin js-->
	<script src="assets/js/plugin.js"></script>

	<!-- MpusemoverParallax JS-->
	<script src="assets/js/TweenMax.js"></script>
	<script src="assets/js/mousemoveparallax.js"></script>
	<!-- main -->
	<script src="assets/js/main.js"></script>
</body>

</html>