<div class="preloader" id="preloader">
    <div class="loader loader-1">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>
</div>
<!-- preloader area end -->

<!-- Header Area Start  -->
<header class="header">
    <!-- Top Header Area Start -->
    <section class="top-header">
        <div class="container">
                <div class="col-lg-12">
                    <div class="content" style = "display: flex; justify-content: flex-end">
                            <ul>
                                <li>
                                    <a href="#" class="sign-in" data-toggle="modal" data-target="#login">
                                        <i class="fas fa-user"></i> Log in
                                    </a>
                                    or
                                    <a href="#" class="sign-in" data-toggle="modal" data-target="#signin">
                                        Sign in
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
    </section>
    <!-- Top Header Area End -->
    <!--Main-Menu Area Start-->
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    
                    <nav class="navbar navbar-expand-lg navbar-light" id="main_menu">
                        
                        <a  class="navbar-brand" href="index.html">
                            <h3  style="font-weight: bold; color:white">SORT<span style="color:#EC2124; font-weight: bold;">RACE</span></h3>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>

                        <!--
                        <div class="collapse navbar-collapse fixed-height" id="main_menu">
                            <ul class="navbar-nav ml-auto">
                                <div class="mr-hover-effect"></div>
                                <li class="nav-item">
                                    <a class="nav-link active" href="play.html">Play
                                            <div class="mr-hover-effect"></div></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="lottery.html">lottery
                                            <div class="mr-hover-effect"></div></a>
                                </li>
                            </ul>
                        </div>
                        -->
                        <div class="collapse navbar-collapse fixed-height" id="main_menu">
                        <ul class="navbar-nav ml-auto">
                            <div class="mr-hover-effect"></div>
                            <li class="nav-item dropdown">
                              <a class="nav-link active text-white" href="index.html">Home
                                <div class="mr-hover-effect"></div>
                              </a>
                              
                            </li>
                            
                            <li class="nav-item">
                              <a class="nav-link text-white" href="play.html">Play
                                <div class="mr-hover-effect"></div>
                              </a>
                              
                            </li>
                            
                          </ul>
                        </div>
                      </nav>

                    <!-- <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <h3  style="font-weight: bold; color:black">SORT<span style="color:#EC2124">RACE</span></h3>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="collapse navbar-collapse" id="main_menu">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Home
                                    <div class="mr-hover-effect"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="play.html">Play
                                            <div class="mr-hover-effect"></div></a>
                                </li>
                            </ul>	
                        </div>
                    </nav> -->

                </div>
                
            </div>
        </div>
    </div>
    <!--Main-Menu Area Start-->
</header>
<!-- Header Area End  -->

<!-- Hero Area Start -->
<div class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 d-flex align-self-center">
                <div class="left-content">
                    <div class="content">
                        <h5 class="subtitle" style = "font-weight: bold;">
                            New Card Game
                        </h5>
                        <h2 style="text-transform: uppercase; font-weight: bold;">
                            Play To WIN
                        </h2>
                        <div class="links">
                            <a href="#" class="mybtn1 link1">Get Started Now!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img2 d-block d-md-none">
                    <img src="assets/images/heroarea.png" alt="">
                </div>
                <div class="hero-img d-none d-md-block">
                    <img class="img-fluid full-image" src="assets/images/heroarea.png" alt="">
                    <img class="shape phone" src="assets/images/h-shapes/phone.png" alt="">
                    <img class="shape man" src="assets/images/h-shapes/man222.png" alt="">
                    <img class="shape ripple" src="assets/images/h-shapes/ripple.png" alt="">
                    <img class="shape ripple2" src="assets/images/h-shapes/ripple1.png" alt="">
                    <img class="shape bitcoin1" src="assets/images/h-shapes/bitcoin1.png" alt="">
                    <img class="shape bitcoin2" src="assets/images/h-shapes/bitcoin2.png" alt="">
                    <img class="shape shape-icon" src="assets/images/h-shapes/shape.png" alt="">
                    <img class="shape award-bg" src="assets/images/h-shapes/award/bg.png" alt="">
                    <img class="shape award" src="assets/images/h-shapes/award/award.png" alt="">
                    <img class="shape gift-bg" src="assets/images/h-shapes/giftbox/bg.png" alt="">
                    <img class="shape gift" src="assets/images/h-shapes/giftbox/gift.png" alt="">
                    <img class="shape shield-bg" src="assets/images/h-shapes/shield/bg.png" alt="">
                    <img class="shape shield" src="assets/images/h-shapes/shield/shield.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->



<!-- Footer Area Start -->
<footer class="footer" id="footer">
            
    <div class="copy-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="left-area">
                        <p>Copyright © 2019.All Rights Reserved By <a href="#">Dooplo</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <ul class="copright-area-links">
                        <li>
                            <a href="#">Terms Of Use</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Gamble</a>
                        </li>
                        <li>
                            <a href="#">Aware</a>
                        </li>
                        <li>
                            <a href="#">Help Cente</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer> 
<!-- Footer Area End -->

<!-- Back to Top Start -->
<div class="bottomtotop">
    <i class="fas fa-chevron-right"></i>
</div>
<!-- Back to Top End -->

<!-- Login Area Start -->
<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <div class="text-center mt-4">
                    <h3  style="font-weight: bold; color:white">SORT<span style="color:#EC2124">RACE</span></h3>
                </div>
                <div class="header-area">
                    <h4 class="title">Great to have you back!</h4>
                    <p class="sub-title">Enter your details below.</p>
                </div>
                <div class="form-area">
                    <!-- <form> -->
                        <div class="form-group">
                                <label for="login-input-email">Email</label>
                                <input type="email" class="input-field" id="login-input-email" placeholder="Enter your e-mail" [(ngModel)]="userLoginDto.email" name="email" id="email" required>
                        </div>
                        <div class="form-group">
                                <label for="login-input-password">Password</label>
                                <input type="password" class="input-field" id="login-input-password" placeholder="Password" [(ngModel)]="userLoginDto.password" name="password" id="password" required>
                        </div>
                        <!--
                        <div class="form-group">
                            <div class="box">
                                <div class="left">
                                        <input type="checkbox" class="check-box-field" id="input-save-password" checked="">
                                    <label for="input-save-password">Remember Password</label>
                                </div>
                                
                                <div class="right">
                                    <a href="#">
                                        Forgot Password?
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        -->
                        <div class="form-group">
                               <button class="mybtn1" (click)="login();">Log In</button>
                        </div>
                    <!-- </form> -->
                </div>
            
            </div>
        </div>
        </div>
    </div>
    <!-- Login Area End -->

    <!-- SignIn Area Start -->
    <div class="modal fade login-modal sign-in" id="signin" tabindex="-1" role="dialog" aria-labelledby="signin" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-body">
                    <div class="text-center mt-4">
                        <h3  style="font-weight: bold; color:white">SORT<span style="color:#EC2124">RACE</span></h3>
                    </div>
                    <div class="header-area">
                        <h4 class="title">Welcome!</h4>
                        <p class="sub-title">Enter your details below.</p>
                    </div>
                    <div class="form-area">
                        <form action="#" method="POST">
                            <div class="form-group">
                                    <label for="input-name">First Name</label>
                                    <input type="text" class="input-field" id="input-name" placeholder="Enter your first name here.." [(ngModel)]="registerDto.firstName" name="firstname" id="firstname">
                            </div>
                            <div class="form-group">
                                <label for="input-name">Last Name</label>
                                <input type="text" class="input-field" id="input-name" placeholder="Enter your last name here.." [(ngModel)]="registerDto.lastName" name="lastname" id="lastname">
                        </div>
                            <div class="form-group">
                                    <label for="input-email">Email</label>
                                    <input type="email" class="input-field" id="input-email" placeholder="Enter your e-mail here.." [(ngModel)]="registerDto.email" name="email" id="email">
                            </div>
                            <div class="form-group">
                                    <label for="input-password">Password</label>
                                    <input type="password" class="input-field" id="input-password" placeholder="Enter your password here.." [(ngModel)]="registerDto.password" name="password" id="password">
                            </div>
                            <div class="form-group">
                                <label for="input-name">Nickname</label>
                                <input type="text" class="input-field" id="input-name" placeholder="Enter your nickname here.." [(ngModel)]="registerDto.nickName" name="nickname" id="nickname">
                        </div>
                            <!-- <div class="form-group">
                                    <label for="input-con-password">Confirm password</label>
                                    <input type="password" class="input-field" id="input-con-password" placeholder="Confirm password..">
                            </div> -->
                            
                            <div class="form-group">
                                <button type="submit" class="mybtn1" (click)="register()">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <!-- SignIn Area End -->